// Fonts

	// Font weights
	$thin: 100;
	$light: 300;
	$regular: 400;
	$medium: 500;
	$bold: 700;
	$ultrabold: 900;

	// Fonts families
	$folderRoboto: "../fonts/roboto";

	$robotoblack: "roboto-black-webfont";
	$robotobold: "roboto-bold-webfont";
	$robotomedium: "roboto-medium-webfont";
	$robotoregular: "roboto-regular-webfont";
	$robotolight: "roboto-lightitalic-webfont";
	$robotolightitalic: "roboto-light-webfont";
	$robotothin: "roboto-thin-webfont";

	@mixin font-face($family, $filename) {
	  @font-face {
	    font-family: $family;
	    src: url('#{$folderRoboto}/#{$filename}.eot');
	    src: url('#{$folderRoboto}/#{$filename}.eot?#iefix') format("embedded-opentype");
	    src: url('#{$folderRoboto}/#{$filename}.woff') format("woff");
	    src: url('#{$folderRoboto}/#{$filename}.ttf') format("truetype");
	    src: url('#{$folderRoboto}/#{$filename}.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg");
	  }
	}
	$folderAlpaca : "../fonts/alpaca";

	@font-face {
	    font-family: 'alpaca';
	    src: url('#{$folderAlpaca}/Alpaca Scarlett Demo-webfont.eot');
	    src: url('#{$folderAlpaca}/Alpaca Scarlett Demo-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$folderAlpaca}/Alpaca Scarlett Demo-webfont.woff2') format('woff2'),
	         url('#{$folderAlpaca}/Alpaca Scarlett Demo-webfont.woff') format('woff'),
	         url('#{$folderAlpaca}/Alpaca Scarlett Demo-webfont.ttf') format('truetype'),
	         url('#{$folderAlpaca}/Alpaca Scarlett Demo-webfont.svg#alpaca_scarlett_demoregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	// Fonts sizes
	$size-base: 1.2em;

// Colors
$d-black: #3D3B3A;
$d-white: #FFFFFF;
$d-grey-light: #D6D6D6;
$d-grey: #7B7B7B;
$d-grey-dark: #9B9B9B;
$d-orange: #EE9E19;
$d-webkit-gradient: -webkit-linear-gradient(-180deg, #EE9E19 0%, #EE7648 100%);
$d-gradient: linear-gradient(-180deg, #EE9E19 0%, #EE7648 100%);
$d-gradient-inverse: linear-gradient(-180deg, #EE7648 0%, #EE9E19 100%);

// Images
$folder-icon: '../images/icons';
$folder-image: '../images';