// Requirements
// ============

#container {
	display: inline;
	float: left;
	&.resp {
		margin: 0 260px 0 0;
		width: 100%;
		&.active {
			overflow: hidden;
		}
		.playlist-content {
			margin: 0;
		}
	}
}