#left-bar {
  width: 260px;
  margin: 0;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
  position: fixed;
  background: $d-white;
  margin-top: 72px;
  height: 100%;
}

#left-bar.resp {
	box-shadow: none;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0;
	z-index: 100;
	background: none;
	height: 0;
	@include transition(height 0.4s ease-in);
	&.active {
		height: 100%;
	}
	#menu {
		background: $d-gradient;
		li {
			padding: 8px 5px;
			background: rgba(255,255,255,0.20);
			box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.10), 0px 2px 4px 0px rgba(0,0,0,0.10);
			border: none;
			text-transform: none;
			position: relative;
			&.resp-item {
				&:nth-child(1) {
					background: rgba(255,255,255,0.40);
					box-shadow: inset 0px 0px 10px 0px rgba(193,128,20,0.60);
				}
				&:nth-child(2) {
					background: rgba(255,255,255,0.20);
					box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.10);
				}
				&:nth-child(3) {
					background: rgba(255,255,255,0.15);
					box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
				}
				&:nth-child(4) {
					background: rgba(255,255,255,0.10);
					box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
				}
				a {
					font-weight: $thin;
					font-size: 2.5em;
					color: $d-white;
					line-height: 66px;
					padding-left: 0;
					text-transform: none;
					div {
						display: none;
					}
				}		
			}
			.pl-heart {
				background: url('#{$folder-icon}/heart-white.svg') no-repeat;
				background-size: 79%;
			}
			.pl-play {
				background: url('#{$folder-icon}/note-white.svg') no-repeat;
				background-size: 79%;
			}
		}
		#usr-nav {
			margin: 0;
			display: block;
		}
		.pl-title {
			margin-bottom: 0;
			padding: 8px 17px;
			span {
				/* Mes playlists: */
				text-transform: none;
				font-weight: $thin;
				font-size: 2.5em;
				color: $d-white;
				line-height: 66px;
				margin: 0;
			}
			hr {
				display: none;
			}
		}
		.pl-items {
			li {
				font-size: 1.5em;
				line-height: 39px;
				height: 25px;
				box-shadow: none;
				padding-left: 17px;
				&:nth-child(odd){
					background: rgba(255,255,255,0.05);
				}
				&:nth-child(even){
					background: rgba(255,255,255,0.10);
				}
				a {
					color: $d-white;
					font-weight: $thin;
				}
				.pl-name {
					padding-left: 40px;
				}
			}
		}
		form {
			&:before {
				content: "";
				background: url('#{$folder-icon}/loupe.svg') center center no-repeat;
				width: 46px;
				height: 45px;
				display: inline-block;
				background-size: 40%;
				position: absolute;
			}
		}
		.input-text {
			width: 100%;
			line-height: 40px;
			background: none;
			border: none;
			color: $d-white;
			text-shadow: 0px 1px 1px rgba(0,0,0,0.20);
			font-size: 1.5em;
			font-weight: $thin;
			font-family: "Roboto";
			padding-left: 35px;
		}
		::-webkit-input-placeholder {
		   color: $d-white;
		   padding-left: 5px;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $d-white;
		   padding-left: 5px;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $d-white;
		   padding-left: 5px;
		}

		:-ms-input-placeholder {  
		   color: $d-white;
		   padding-left: 5px;
		}
	}
}
/* Animating the height of the navigation when the button is clicked */
	
/* If JavaScript is disabled, the menu stays open */
#menu {
	background: $d-white;
	.icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		float: left;
	}
}

/* MENU USER */
#usr-nav {
	margin-bottom: 45px;
	.usr-items {
		li {
			padding: 15px 0 21px;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			.usr-profile {
				background: url('#{$folder-icon}/user.svg') no-repeat;
			}
			.usr-artists {
				background: url('#{$folder-icon}/users.svg') no-repeat;
			}
			.usr-music {
				background: url('#{$folder-icon}/note.svg') no-repeat;
			}	
			span {
				display: inline-block;
				padding-left: 10px;
			}
			&.active {
				border-left: 5px solid $d-orange;
			}
		}
	}
}

/* MENU PLAYLIST */
#pl-nav {
	.pl-title {
		margin-bottom: 28px;
		padding-left: 20px;
		span {
			font-size: $size-base;
			text-transform: uppercase;
			font-weight: $bold;
			margin-bottom: 8px;
		}
		hr {
			width: 24px;
			border: 2px solid $d-orange;
			float: left;
		}
	}
	.pl-items {
		li {
			padding: 7px 20px;
			a{
				color: $d-black;
			}
			.pl-heart {
				background: url('#{$folder-icon}/heart.svg') no-repeat center center;
				background-size: 80%;
			}
			.pl-play {
				background: url('#{$folder-icon}/beamed-note.svg') no-repeat center center;
			}
			.pl-name {
				font-weight: $medium;
				font-size: $size-base;
				padding-left: 25px;
				line-height: 20px;
			}
			&:hover .pl-play{
					background: url('#{$folder-icon}/triangle-right.svg') no-repeat center center;
					border: 1px solid $d-orange;
					border-radius: 50%;
					background-size: 39%;
			}
		}
	}
}

/* Styling the toggle menu link and hiding it */
#menutoggle{
	display: none;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato',Calibri,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;	
	border: none;
	cursor: pointer;
	width: 50px;
	height: 72px;
	float: right;
}

.navtoogle {
	@include transition(all 0.4s ease-in);
	.icon-menu {
		z-index: 100;
		position: relative;
		top: 3px;
		line-height: 0;
		font-size: 1.6em;
		&:before {
			content: "";
			background: url('#{$folder-icon}/menu-burger.svg') no-repeat center center;
			background-size: 50%;
			width: 40px;
			height: 28px;
			display: inline-block;
		}
	}
	&.active {
		.icon-menu:before {
			content: "";
			background: url('#{$folder-icon}/menu-burger-close.svg') no-repeat center center;
			background-size: 50%;
		}
	}
}


@media (max-width: 1024px) {

	#pl-nav {
		margin-bottom: 73px;
	}

	/* Unhiding the styled menu link */
	#menutoggle{
		margin: 0;
		display: block;
		outline: none;
	}
	/* When JavaScript is enabled, we hide the menu */
	#menu {
		height: 0;
		width: 100%;
		overflow: auto;
	}
	
	/* Displaying the menu when the user has clicked on the button */
	button.active ~ #menu{		
		height: 100%;
		width: 100%;
		//@include transition(height 0.4s ease-in);
	}
	button.navtoogle ~ #menu{	
		@include transition(height 0.4s ease-in);
	}
	.lg-hidden {
		display: block;
	}
}