#footer {
	background: $d-white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
	font-family: "OpenSans";
	font-weight: $bold;
	font-size: 1em;
	color: #A6A6A6;
	line-height: 14px;
	text-transform: uppercase;
	height: 64px;
	line-height: 64px;
	position: relative;
	.copyright {
		text-align: center;
	}
	.right {
		position: absolute;
		right: 5em;
		top: 0;
	}
	.mentions {
		display: inline-block;
		margin-right: 40px;
		a {color: #A6A6A6;}
	}
	.socials {
		display: inline-block;
		.social {
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
			margin: 0 12px;
		}
		.tw {
			background: url('#{$folder-icon}/twitter.svg') no-repeat center center;
		}
		.gl {
			background: url('#{$folder-icon}/google+.svg') no-repeat center center;
		}
		.fb {
			background: url('#{$folder-icon}/facebook.svg') no-repeat center center;
		}
	}
}

@media(max-width: 640px) {
	#footer {
		.socials, .mentions {
			display: none;
		}
	}
}