.playlist-container {
	margin: 0 auto;
	width: 100%;
	background: #FBF6F2;
	color: $d-black;
}

.playlist-content {
	overflow: hidden;
	margin: 0 260px;
	.pub {
		width: 100%;
		height: 260px;
		background: #D8D8D8;
		margin-bottom: 48px;
	}
	.row {
		position: relative;
		margin: 20px;
		.hr {
			width: 24px;
			height: 3px;
			background: $d-orange;
			margin: 10px 0 30px;
		}
		.row-title {
			font-weight: $bold;
			font-size: 1.3em;
			color: $d-black;
			line-height: 18px;
			text-transform: uppercase;
		}
		.playlists, .artists {
			white-space: nowrap;
			width: 100%;
			margin-bottom: 30px;
			margin-left: -10px;
			margin-right: -10px;
		}
		&.active {
			display: block;
		}
	}
	.row-artists {
		height: 340px;
	}
}

.carousel {
	overflow: hidden;
}


.pl-single {
	position: relative;
	display: inline-block;
	width: 20%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	.pl-cover {
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.pl-infos {
		padding: 10px;
		background: rgba(255,255,255,0.50);
		-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
		-o-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.pl-title {
		font-weight: $light;
		font-size: 1.4em;
		color: $d-black;
		line-height: 19px;
	}
	.pl-singer {
		opacity: 0.69;
		font-weight: $light;
		font-size: 1.2em;
		color: $d-black;
		line-height: 16px;
		margin-bottom: 6px;
	}
	.pl-artist {
		font-weight: $thin;
		color: rgba(61,58,58,0.70);
		span {
			display: inline-block;
			font-weight: $medium;
			font-size: 1.2em;
			color: $d-orange;
			line-height: 15px;
		}
		&:before {
			content: "";
			background: url('#{$folder-icon}/pl-arrow.svg') no-repeat center center;
			width: 7px;
			height: 9px;
			display: inline-block;
			margin-right: 6px;
		}
	}
}

.at-single {
	display: inline-block;
	width: 20%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	.pl-single {
		width: 100%;
		padding: 0;
	}
}

.at-header {
	position: relative;
	&:before {
		content: "";
		width: 80%;
		height: 80%;
		position: absolute;
		left: 0;
		top: 35%;
		z-index: 0;
		background: $d-white;
		border-left: 1px solid #ECECEC;
	}
	.at-avatar {
		margin-right: 0;
		width: 29%;
	}
	.at-name {
		display: inline-block;
		padding-left: 10px;
		width: 66%;
		&:before {
			content: "";
			width: 68%;
			height: 40%;
			background: #FBF6F2;
			display: block;
			position: absolute;
			top: 35%;
			right: 3px;
			z-index: 2;
			border-bottom-left-radius: 5px;
			border-bottom: 1px solid #ECECEC;
			border-left: 1px solid #ECECEC;
		}
		.at-pseudo {
			font-weight: $light;
			font-size: 1.4em;
			color: $d-black;
			line-height: 16px;
			margin-bottom: 5px;
			position: relative;
			z-index: 3;
		}
		.at-cta {
			position: relative;
			z-index: 3;
			border: 1px solid $d-orange;
			border-radius: 40px;
			font-weight: $bold;
			font-size: 1em;
			line-height: 25px;
			width: 75px;
			height: 24px;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			@include transition(all 0.1s ease-in);
			&.follow {
				color: #F5A623;
				&:hover {
					background: $d-orange;
					color: $d-white;
				}
			}
			&.followed {
				background: $d-orange;
				color: $d-white;
			}
		}
	}
	.at-span {
		position: relative;
		&:before {
			content: "";
			width: 61%;
			height: 16px;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 2;
			background: #FFFFFF;
			border-right: 1px solid #ECECEC;
			border-top: 1px solid #ECECEC;
			border-top-right-radius: 5px;
		}
		span {
			opacity: 0.5;
			font-weight: $bold;
			font-size: 0.9em;
			color: $d-black;
			line-height: 11px;
			text-transform: uppercase;
			padding: 5px 13px;
			position: relative;
		}
	}
}

.row-slider {
	position: absolute;
	right: 0;
	top: 20px;
	li {
		width: 22px;
		height: 25px;
		display: block;
		float: left;
		cursor: pointer;
		&.prev {
			background: url('#{$folder-icon}/pl-left.png') no-repeat center center;
		}
		&.next {
			background: url('#{$folder-icon}/pl-right.png') no-repeat center center;
		}
		&.desactive {
			opacity: 0.5;
			pointer-events: none;
			cursor: default;
		}
	}
}

/* RESPONSIVE */
#pl-nav-resp {
	display: none;
	height: 60px;
	margin-bottom: 41px;
	li.item {
		float: left;
		width: 33.3%;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background: linear-gradient(-180deg, #49403B 0%, #2E2722 100%);
		box-shadow: 1px 0px 0px 0px rgba(60,51,45,0.50);
		text-transform: uppercase;
		box-sizing: border-box;
		border-right: 1px solid rgba(0,0,0,0.27);
		a {
			font-weight: $thin;
			font-size: 1.2em;
			color: $d-white;
		}
		&.active {
			background: $d-gradient;
			a {
				font-weight: $medium;
				font-size: 1.3em;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				margin-left: 17px;
				border-width: 8px 8.5px 0 8.5px;
				border-color: #ee7748 transparent transparent transparent;
			}
		}
	}
	&.resp {
		display: block;
	}
}
@media(max-width: 640px){
	.playlist-content .row {
		width: 96%;
		margin: 0 17px;
		display: none;
		.pl-single, .at-single {
			width: 33.33%;
			float: left;
			margin-right: 0;
			margin-bottom: 18px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			.pl-infos {
				background: #F2F2F2;
				-moz-box-shadow: 0px 1px 2px 0px #cfcfcf;
				-webkit-box-shadow: 0px 1px 2px 0px #cfcfcf;
				-o-box-shadow: 0px 1px 2px 0px #cfcfcf;
				box-shadow: 0px 1px 2px 0px #cfcfcf;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
			.pl-cover {
				-moz-box-shadow: 0px 1px 2px 0px #cfcfcf;
				-webkit-box-shadow: 0px 1px 2px 0px #cfcfcf;
				-o-box-shadow: 0px 1px 2px 0px #cfcfcf;
				box-shadow: 0px 1px 2px 0px #cfcfcf;
			}
		}
		.playlists, .artists {
			white-space: normal !important;
			overflow: hidden !important;
			list-style: none;
			padding: 0 !important;
		}
	}
}
@media(max-width: 540px){
	.playlist-content .row {
		display: none;
		.pl-single, .at-single {
			width: 50%;
		}
	}
}