.tracklist-header {
	padding-left: 2em;
	padding-bottom: 3.4em;
	.tracklist-header-inner > span {
		font-weight: $medium;
		font-size: 1.3em;
		color: #9B9B9B;
		line-height: 18px;
		text-transform: uppercase;
	}
	h1.title {
		font-weight: $thin;
		font-size: 3em;
		color: #3D3B3A;
		line-height: 29px;
		margin: 8px 0 17px;
	}
	h2.subtitle {
		font-weight: $light;
		font-size: 1.6em;
		color: #ABABAB;
		line-height: 21px;
		.date {
			display: inline-block;
			color: #5B514C;
		}
		.author {
			display: inline-block;
			color: #615E5D;
			font-weight: $regular;
		}
		.separator, .abonnes {
			display: inline-block;
			color: #EE9E19;
			text-transform: uppercase;
			font-weight: $medium;
		}
	}
	div.hr {
		width: 24px;
		height: 3px;
		background: #EE9E19;
		margin: 1em 0;
	}
}

.tracklist-wrapper {
	background: rgba(255,255,255,0.50);
}
.tracklist-playlist {
	width: 100%;
}
.tl-header {
	background: #FFFFFF;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
	th {
		border-top: 0;
		letter-spacing: 1px;
		line-height: 28px;
		text-transform: uppercase;
		vertical-align: bottom;
		padding: 0 0 0 12px;
		position: relative;
		font-weight: $medium;
		font-size: 1.3em;
		color: #4E4C4B;
		line-height: 4em;
		text-transform: uppercase;
	}
}
.tl-cell, .tl-cell>div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tl-cell {
	height: 62px;
	border: 1px solid #F1F1F1;
	padding-left: 1em;
}
.tl-row {
	border-left: 5px solid transparent;
	&.selected {
		background: rgba(205,205,205,0.15);
		border-left: 5px solid #EE9E19;
	}
	&:hover {
		.tl-cover .btn-play {
			display: block;
		}
	}
	.tl-cover {
		width: 80px;
		height: 60px;
		overflow: hidden;
		display: block;
		border-right: none;
		padding: 0.9em 0.9em 0.9em 2em;
		margin-left: 1em;
		.btn-play {
			display: none;
			width: 40px;
  			height: 40px;
  			position: absolute;
  			background: url('#{$folder-icon}/tr-btn-play.svg') no-repeat center center;
  			cursor: pointer;
		}
		img {
			width: 40px;
		}
	}
	.tl-title, .tl-artist a, .tl-time {
		font-weight: $light;
		font-size: 1.5em;
		color: #656565;
		line-height: 20px;
	}
	.tl-title {
		border-left: none;
		max-width: 340px;
	}
	.tl-artist {
		max-width: 170px;
	}
	.tl-time {
		
	}
	.tl-contributeur {
		max-width: 140px;
		a {
			font-weight: $regular;
			font-size: 1.5em;
			color: #F5A623;
			line-height: 20px;
		}
	}
	.tl-more {
		display: block;
		width: 40px;
		height: 23px;
		background: url('#{$folder-icon}/tr-more.svg') no-repeat center center;
		cursor: pointer;
	}
}

/* 4 COVERS FOR PLAYLIST */
.song-cover {
  width: 50%;
  height: 50%;
  display: inline-block;
  float: left;
}

.cta.follow {
	border: 1px solid #EE9E19;
	border-radius: 40px;
	font-weight: $bold;
	font-size: 1.2em;
	line-height: 32px;
	text-transform: uppercase;
	width: 106px;
	float: right;
	background: none;
	margin-right: 2em;
	margin-top: -2.7em;
	cursor: pointer;
	z-index: 30;
  	position: relative;
	@include transition (all 0.2s ease-in-out);
	a {
		display: block;
		color: #F5A623;
	}
	&:hover {
		background: #fff;
	}
}
@media(max-width:640px) {
	.tracklist-header {
		background-image: linear-gradient(-180deg, #49403B 0%, #2E2722 100%);
		text-align: center;
		h1.title {
			font-size: 2em;
			color: #FFFFFF;
			text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
		}
	}
}