.upload-container {
	float: right;
	width: 82%;
	@include linear-gradient($d-orange, $d-orange-dark);
	margin: 0;
	height: 100%;
}

.upload.inner-container {
	color: $d-white;
	text-align: center;
	padding: 45px;
	.uploadDescr {
		margin-bottom: 50px;
		.uploadTitle {
			font-weight: $thin;
			font-size: 4em;
			margin-bottom: 25px;
		}
		.uploadConditions {
			font-weight: $light;
			font-size: 2em;
			line-height: 25px;
			a {
				text-decoration: underline;
				display: inline-block;
				color: $d-white;
			}
		}
	}
	.uploadZone {
		.innerZone {
			width: 427px;
			height: 283px;
			margin: 25px auto;
			&.upload1 {
				border: 5px dashed rgba(255,255,255,0.8);
				border-radius: 23px;
				background: url('#{$folder-icon}/+.png') no-repeat center center;
			}
		}
		form {
			position: relative;
			height: 100%;
		}
		label {
			font-size: 1.5em;
			position: absolute;
			top: 0;
			left: 0;
			padding: 15px 50px;
		}
		.files {
			color: $d-white;
			position: absolute;
			bottom: 0;
			width: 100%;
			margin-bottom: 20px;
			font-size: 1.1em;
		}
		#fileToUpload{
			opacity: 0;
			width: 427px;
			height: 283px;
			position: absolute;
			cursor: pointer;
			left: 0;
			top: 0;
			z-index: 5;
		}
		p.conditions {
			color: $d-white;
			font-size: 1.3em;
			display: inline-block;
			margin-bottom: 25px;
		}
		input[type="checkbox"] {
			margin-right: 15px;
		}
	}
	.uploadFooter {
		font-size: 1.3em;
		color: $d-white;
		.ps {
			font-size: 1.5em;
			span {
				display: inline-block;
			}
		}
		.premium {
			margin: 20px auto;
			color: $d-white;
			width: 151px;
			height: 44px;
			line-height: 44px;
			border: 2px solid $d-white;
			border-radius: 40px;
			text-transform: uppercase;
			cursor: pointer;
			&:hover {
				background: $d-white;
				color: $d-orange;
			}
		}
	}
}

.upload2 {
	display: none;
	&.active{
		display: block;
		height: 283px;
		.progress {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: #FFFFFF;
			margin: 103px auto;
			font-size: 2em;
			color: $d-orange;
			span{
				color: $d-orange;
				font-size: 2em;
				font-weight: $light;
				line-height: 100px;
			}
		}
		span{
			display: inline-block;
			font-weight: $medium;
			font-size: 2em;
		}
		p {
			font-weight: $light;
			font-style: italic;
			display: inline-block;
			font-size: 2em;
		}
	}
}

/* Upload forms */
#msform {
	width: 610px;
	height: 292px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	background: #FAFAFA;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.10);
	.track {
		display: inline-block;
		width: 100%;
		text-align: left;
		padding : 22px 0 17px 50px;
		.tr-title {
			font-weight: $thin;
			color: $d-black;
			font-size: 2em;
			line-height: 2em;
		}
		.tr-subtitle {
			font-weight: $light;
			font-style: italic;
			color: $d-orange;
			font-size: 1.4em;
		}
	}
}

#msform fieldset {
	padding: 0 50px;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	/*stacking fieldsets above each other*/
	position: absolute;
	bottom: 20px;
	-webkit-backface-visibility: hidden;
	p.files {
		font-weight: $light;
		font-size: 1.1em;
		color: #9B9B9B;
		line-height: 15px;
		margin: 0;
		bottom: -12px;
		width: auto;
	}
	.cover {
		display: block;
		width: 112px;
		height: 112px;
		position: absolute;
		background: #D8D8D8;
		top: 30px;
		left: 293px;
	}
	&.third {
		bottom: 35px;
	}
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	border: 1px solid #E8E8E8;
	outline: none;
	padding: 15px;
	margin-bottom: 10px;
	width: 96%;
	box-sizing: border-box;
	color: rgba(61,59,58,0.7);
	font-size: 1.2em;
	@include transition(all 0.2s ease-in);
	&.error {
		box-shadow: 0px 0px 7px 0px rgba(255,104,104,0.40);
		border: 1px solid #FF5E5E;
		color: #9B9B9B;
	}
}
/*buttons*/
#msform .action-button {
	height: 124px;
	width: 32px;
	position: absolute;
	bottom: 51%;
	cursor: pointer;
	&.next {
		background: url('#{$folder-icon}/arrow-right.png') no-repeat center center;
		right: 13px;
	}
	&.submit {
		visibility: hidden;
		opacity: 0;
		height: 292px;
		width: 82px;
		top: 0;
		right: 0;
		border: none;
		border-radius: 0;
		background: $d-orange url('#{$folder-icon}/valid.png') no-repeat center center;
		@include transition(all 0.5s ease-in);
		&.active {
			visibility: visible;
			opacity: 1;
		}
	}
}

#coverToUpload{
	opacity: 0;
	width: 167px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.10);
	border-radius: 40px;
}
.input-cover-trigger {
	width: 167px;
	height: 44px;
	background: #FFFFFF;
	color: $d-black;
	text-transform: uppercase;
	font-size: 1.5em;
	border: 1px solid #BBBBBB;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.10);
	border-radius: 40px;
	padding: 0 !important;
	text-align: center;
	line-height: 44px;
	left: 60px !important;
	top: initial !important;
	letter-spacing: 1px;
	cursor: pointer;
	@include transition(all 0.2s ease-in);
	&:hover {
		border: 1px solid $d-orange;
	}
}
p.conditions {
	color: $d-black;
	font-size: 1.3em;
	display: inline-block;
	margin-bottom: 25px;
}
/*headings*/
.fs-title {
	font-weight: $thin;
	font-size: 3em;
	margin-bottom: 23px;
	color: $d-black;
}
.fs-subtitle {
	font-weight: $light;
	font-size: 1.3em;
	color: #666;
	margin-bottom: 14px;
	color: rgba(0,0,0,0.20);
}
/*progressbar*/
#progressbar {
	padding-top: 16px;
	width: 35%;
	margin: 14px auto;
}
#progressbar li {
	list-style-type: none;
	color: #D1D1D1;
	text-transform: uppercase;
	font-size: 0.9em;
	width: 25%;
	float: left;
	position: relative;
	z-index: 2;
	@include transition(all 0.5s ease-in);
	&.active {
		color: $d-orange;
	}
	&.error {
		color: #FF5E5E;
		&:before {
			background: #FF5E5E !important;
		}
	}
}
#progressbar li:before {
	content: "";
	width: 10px;
	height: 10px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #D1D1D1;
	border-radius: 50%;
	margin: 0 auto 5px auto;
	cursor: pointer;
	@include transition(all 0.5s ease-in);
}
/*progressbar connectors*/
#progressbar .timeline {
	width: 26%;
	height: 2px;
	background: #D1D1D1;
	position: absolute;
	left: 37%;
	top: 20px;
	z-index: 0;
	.progress {
		height: 2px;
		position: absolute;
		z-index: 1;
		background: $d-orange;
		@include transition(all 0.2s ease-in);
		&.first {
			width: 0%;
		}
		&.second {
			width: 33.33%;
		}
		&.third {
			width: 66.66%;
		}
		&.fourth {
			width: 100%;
		}
	}
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: $d-orange;
	color: $d-orange;
}


/* Select option */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #9B9B9B;
  width: 380px;
  height: 44px;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $d-white;
  padding: 8px 15px;
  color: #D6D6D6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938em;
  line-height: 29px;
  letter-spacing: 2.27px;
  border: 1px solid #E8E8E8;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    background: url('#{$folder-icon}/arrow-genre.svg') no-repeat center center;
    width: 13px;
	height: 12px;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    color: $d-orange;
  }
  &:active, &.active {
    color: $d-orange;
    &:after {
      top: 16px;
      background: url('#{$folder-icon}/arrow-genre-top.svg') no-repeat center center;
    }
  }
  &.error{
	box-shadow: 0px 0px 7px 0px rgba(255,104,104,0.40);
	border: 1px solid #FF5E5E;
  }
}

.select-options {
  display: none; 
  position: absolute;
  height: 195px;
  overflow: auto;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  li {
    margin: 0;
    padding: 6px 0;
    text-indent: 15px;
    background: $d-white;
	font-weight: bold;
	font-size: 0.938em;
	color: #9B9B9B;
	letter-spacing: 2.27px;
	line-height: 20px;
	text-transform: uppercase;
    @include transition(all 0.15s ease-in);
    &:hover {
      color: $d-orange;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
