@import url(960_16_col.css);
/* line 5, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto black";
  src: url("../fonts/roboto/roboto-black-webfont.eot");
  src: url("../fonts/roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-black-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-black-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto bold";
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-bold-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto medium";
  src: url("../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-medium-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-medium-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-medium-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto regular";
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-regular-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto light";
  src: url("../fonts/roboto/roboto-light-webfont.eot");
  src: url("../fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-light-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-light-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-light-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto thin";
  src: url("../fonts/roboto/roboto-thin-webfont.eot");
  src: url("../fonts/roboto/roboto-thin-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-thin-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-thin-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-thin-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
/*$susy: (
  columns: 16,
  gutters: 2/7,
);*/
/* line 11, ../sass/partials/_grids.scss */
#left-bar {
  float: left;
  padding: 17px 20px 20px;
}

/* line 17, ../sass/partials/_grids.scss */
#container {
  float: left;
}

/* line 22, ../sass/partials/_grids.scss */
#right-bar {
  float: left;
}

/* line 2, ../sass/partials/_elements.scss */
a, div, li, span {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased !important;
  display: block;
  color: #3D3B3A;
}

/* line 8, ../sass/partials/_elements.scss */
a {
  text-decoration: none;
}

/* line 12, ../sass/partials/_elements.scss */
body {
  font-size: 62.5%;
}

/* line 17, ../sass/partials/_elements.scss */
.link {
  color: #3D3B3A;
}
/* line 19, ../sass/partials/_elements.scss */
.link.menu {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12.19px;
  line-height: 16px;
  text-transform: uppercase;
}
/* line 25, ../sass/partials/_elements.scss */
.link.menu:hover span {
  background: -webkit-linear-gradient(-180deg, #EE9E19 0%, #EE7648 100%);
  background: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
  color: transparent;
  -webkit-background-clip: text;
}

/* line 35, ../sass/partials/_elements.scss */
.cta {
  background-image: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
  border: 2px solid #EE9E19;
  border-radius: 40px;
}

/* line 42, ../sass/partials/_elements.scss */
.input-text {
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  font-size: 11.53px;
  color: #D6D6D6;
  letter-spacing: 1.74px;
  line-height: 13px;
}
/* line 49, ../sass/partials/_elements.scss */
.input-text:focus {
  box-shadow: 0px 0px 7px 0px rgba(238, 158, 24, 0.3);
}

/* line 55, ../sass/partials/_elements.scss */
.img-overlay {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 79%, rgba(0, 0, 0, 0.6) 100%);
}

/* line 1, ../sass/_header.scss */
header {
  width: 100%;
  height: 72px;
}
/* line 4, ../sass/_header.scss */
header .header-inner {
  position: fixed;
}

/* line 9, ../sass/_header.scss */
#logo {
  display: inline-block;
  font-size: 3em;
  color: #3D3B3A;
  line-height: 40px;
  text-transform: uppercase;
}

/* line 17, ../sass/_header.scss */
#search form input {
  display: inline-block;
  /* Rectangle 106: */
  background: #EFEFEF;
  border: 1px solid #E7E7E7;
  border-radius: 30px;
  /* Fill 93: */
  background: #9C9C9C;
  /* Rechercher un artist: */
  opacity: 0.75;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.4em;
  color: #9B9B9B;
  line-height: 19px;
}

/* line 34, ../sass/_header.scss */
#header-nav {
  display: inline-block;
}

/* line 38, ../sass/_header.scss */
#upload {
  display: inline-block;
  background: -webkit-linear-gradient(-180deg, #EE9E19 0%, #EE7648 100%);
  background: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
}
/* line 42, ../sass/_header.scss */
#upload .up-icon {
  background: url("../img/icons/upload.svg") no-repeat center center;
}

/* MENU USER */
/* line 2, ../sass/_left.scss */
.usr-items {
  margin-bottom: 30px;
}
/* line 4, ../sass/_left.scss */
.usr-items li {
  padding: 19px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 7, ../sass/_left.scss */
.usr-items li .usr-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}
/* line 11, ../sass/_left.scss */
.usr-items li .usr-icon.usr-profile {
  background: url("../img/icons/user.svg");
}
/* line 14, ../sass/_left.scss */
.usr-items li .usr-icon.usr-artists {
  background: url("../img/icons/users.svg");
}
/* line 17, ../sass/_left.scss */
.usr-items li .usr-icon.usr-music {
  background: url("../img/icons/note.svg");
}
/* line 21, ../sass/_left.scss */
.usr-items li span {
  display: inline-block;
  padding-left: 10px;
}

/* MENU PLAYLIST */
/* line 29, ../sass/_left.scss */
.pl-title {
  margin-bottom: 15px;
}
/* line 31, ../sass/_left.scss */
.pl-title span {
  padding: 12px 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 37, ../sass/_left.scss */
.pl-title hr {
  width: 24px;
  border: 2px solid #EE9E19;
  float: left;
}

/* line 45, ../sass/_left.scss */
.pl-items li {
  padding: 7px 0;
}
/* line 47, ../sass/_left.scss */
.pl-items li .pl-icon {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
}
/* line 53, ../sass/_left.scss */
.pl-items li .pl-heart {
  background: url("../img/icons/heart.svg") no-repeat center center;
  background-size: 80%;
}
/* line 57, ../sass/_left.scss */
.pl-items li .pl-play {
  background: url("../img/icons/beamed-note.svg") no-repeat center center;
}
/* line 60, ../sass/_left.scss */
.pl-items li .pl-name {
  font-weight: 500;
  font-size: 1.2em;
  padding-left: 25px;
  line-height: 20px;
}
/* line 66, ../sass/_left.scss */
.pl-items li:hover .pl-play {
  background: url("../img/icons/triangle-right.svg") no-repeat center center;
  border: 1px solid #EE9E19;
  border-radius: 50%;
  background-size: 60%;
}
