// Requirements
// ============

#left-bar {
  width: 18%;
  float: left;
  height: 100%;
  margin: 0;
  .inner-left {
  	position: fixed;
  	padding-left: 10px;
  	width: 17%;
  }
}

#right-bar {
  float: left;
  height: 100%;
  margin: 0;
  width: 260px;
  .inner-right {
  	position: fixed;
  }
}