// Requirements
// ============

//@import "susy";

/*$susy: (
  columns: 16,
  gutters: 2/7,
);*/

#left-bar {
  //@include span(3 of 12 last);
  float: left;
  padding: 17px 20px 20px;
}

#container {
  //@include span(6 of 12 last);
  float: left;
}

#right-bar {
  //@include span(3 of 12 last);
  float: left;
}