@import url(960_16_col.css);
/* line 5, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/helen/.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto black";
  src: url("../fonts/roboto/roboto-black-webfont.eot");
  src: url("../fonts/roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-black-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-black-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-black-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto bold";
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-bold-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-bold-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto medium";
  src: url("../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-medium-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-medium-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-medium-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto regular";
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-regular-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto light";
  src: url("../fonts/roboto/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-lightitalic-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-lightitalic-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-lightitalic-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
@font-face {
  font-family: "Roboto thin";
  src: url("../fonts/roboto/roboto-thin-webfont.eot");
  src: url("../fonts/roboto/roboto-thin-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/roboto/roboto-thin-webfont.woff") format("woff");
  src: url("../fonts/roboto/roboto-thin-webfont.ttf") format("truetype");
  src: url("../fonts/roboto/roboto-thin-webfont.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
}
/* line 4, ../sass/partials/_grids.scss */
#container {
  margin-top: 72px;
}
/* line 6, ../sass/partials/_grids.scss */
#container.resp {
  margin: 72px 260px 0 0;
  width: 100%;
}
/* line 9, ../sass/partials/_grids.scss */
#container.resp.active {
  overflow: hidden;
}
/* line 12, ../sass/partials/_grids.scss */
#container.resp .playlist-content {
  margin: 0;
}

/* line 2, ../sass/partials/_elements.scss */
a, div, li, span {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased !important;
  display: block;
}

/* line 7, ../sass/partials/_elements.scss */
a {
  text-decoration: none;
}

/* line 11, ../sass/partials/_elements.scss */
body {
  font-size: 62.5%;
}

/* line 15, ../sass/partials/_elements.scss */
.clear {
  clear: both;
}

/* line 19, ../sass/partials/_elements.scss */
html {
  height: 100%;
}

/* line 22, ../sass/partials/_elements.scss */
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  min-width: initial;
}

/* line 29, ../sass/partials/_elements.scss */
.link {
  color: #3D3B3A;
}
/* line 31, ../sass/partials/_elements.scss */
.link.menu {
  font-weight: 700;
  font-size: 12.19px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 15px;
}
/* line 37, ../sass/partials/_elements.scss */
.link.menu:hover span {
  background: -webkit-linear-gradient(-180deg, #EE9E19 0%, #EE7648 100%);
  background: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
  color: transparent;
  -webkit-background-clip: text;
}

/* line 47, ../sass/partials/_elements.scss */
.cta {
  background-image: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
  border: 2px solid #EE9E19;
  border-radius: 40px;
}

/* line 54, ../sass/partials/_elements.scss */
.input-text {
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  font-size: 1.4em;
  color: #D6D6D6;
  /*letter-spacing: 1.74px;*/
  line-height: 13px;
  outline: none;
}
/* line 62, ../sass/partials/_elements.scss */
.input-text:focus {
  box-shadow: 0px 0px 7px 0px rgba(238, 158, 24, 0.3);
}

/* line 68, ../sass/partials/_elements.scss */
.img-overlay {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 79%, rgba(0, 0, 0, 0.6) 100%);
}

@media (min-width: 720px) {
  /* line 73, ../sass/partials/_elements.scss */
  .lg-hidden {
    display: none;
  }
}
@media (max-width: 1024px) {
  /* line 79, ../sass/partials/_elements.scss */
  .ms-hidden {
    display: none;
  }
}
@media (max-width: 640px) {
  /* line 85, ../sass/partials/_elements.scss */
  .xs-hidden {
    display: none;
  }
}
/* line 1, ../sass/_header.scss */
header {
  width: 100%;
  height: 72px;
  position: fixed;
  z-index: 100;
}
/* line 6, ../sass/_header.scss */
header .header-inner {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

/* line 14, ../sass/_header.scss */
#logo {
  display: inline-block;
  font-size: 3em;
  color: #3D3B3A;
  line-height: 72px;
  text-transform: uppercase;
  width: 13%;
  vertical-align: middle;
  text-align: center;
}

/* line 25, ../sass/_header.scss */
.searchbar {
  width: 100%;
  text-align: center;
  padding: 14px 0;
  position: absolute;
  top: 0;
}
/* line 31, ../sass/_header.scss */
.searchbar form {
  width: 62%;
  margin: 0 auto;
}
/* line 34, ../sass/_header.scss */
.searchbar form input {
  display: inline-block;
  border-radius: 30px;
  width: 57%;
  background: #EFEFEF;
  border: 1px solid #E7E7E7;
  padding-left: 50px;
  color: #9B9B9B;
  font-weight: 300;
  line-height: 40px;
}

/* line 48, ../sass/_header.scss */
#header-nav {
  width: 210px;
  vertical-align: middle;
  position: absolute;
  right: 72px;
  top: 14px;
}
/* line 54, ../sass/_header.scss */
#header-nav .item-name {
  font-size: 1.4em;
  color: #3D3B3A;
  line-height: 22px;
}
/* line 58, ../sass/_header.scss */
#header-nav .item-name span {
  display: inline-block;
  background: #D8D8D8;
  border-radius: 3px;
  font-size: 0.9em;
  font-weight: 700;
  color: #FFFFFF;
  text-shadow: 0px 0.3px 0px rgba(0, 0, 0, 0.25);
  margin-left: 15px;
  line-height: 16px;
  padding: 0 3px;
}
/* line 71, ../sass/_header.scss */
#header-nav .item-followers, #header-nav .item-followings {
  float: left;
  color: #888888;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2em;
  margin-right: 5px;
}
/* line 78, ../sass/_header.scss */
#header-nav .item-followers span, #header-nav .item-followings span {
  display: inline-block;
  color: #EE9E19;
  font-weight: 500;
  font-style: normal;
  margin-right: 3px;
}

/* line 88, ../sass/_header.scss */
.item-media {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  position: relative;
}

/* line 100, ../sass/_header.scss */
#upload {
  background: #EE9E19;
  width: 72px;
  height: 72px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border-bottom: 1px solid #EE9E19;
}
/* line 109, ../sass/_header.scss */
#upload .up-icon {
  background: url("../img/icons/upload.svg") no-repeat center center;
  width: 100%;
  height: 100%;
  background-size: 40%;
}

/* line 1, ../sass/_left.scss */
#left-bar {
  width: 260px;
  margin: 0;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  background: #FFFFFF;
  margin-top: 72px;
  height: 100%;
}

/* line 11, ../sass/_left.scss */
#left-bar.resp {
  box-shadow: none;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0;
  z-index: 100;
  background: none;
  height: 0;
  -moz-transition: height 0.4s ease-in;
  -o-transition: height 0.4s ease-in;
  -webkit-transition: height 0.4s ease-in;
  transition: height 0.4s ease-in;
}
/* line 21, ../sass/_left.scss */
#left-bar.resp.active {
  height: 100%;
}
/* line 24, ../sass/_left.scss */
#left-bar.resp #menu {
  background: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
}
/* line 26, ../sass/_left.scss */
#left-bar.resp #menu li {
  padding: 8px 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  text-transform: none;
  position: relative;
}
/* line 34, ../sass/_left.scss */
#left-bar.resp #menu li.resp-item:nth-child(1) {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 10px 0px rgba(193, 128, 20, 0.6);
}
/* line 38, ../sass/_left.scss */
#left-bar.resp #menu li.resp-item:nth-child(2) {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
/* line 42, ../sass/_left.scss */
#left-bar.resp #menu li.resp-item:nth-child(3) {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
/* line 46, ../sass/_left.scss */
#left-bar.resp #menu li.resp-item:nth-child(4) {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
/* line 50, ../sass/_left.scss */
#left-bar.resp #menu li.resp-item a {
  font-weight: 100;
  font-size: 2.5em;
  color: #FFFFFF;
  line-height: 66px;
  padding-left: 0;
  text-transform: none;
}
/* line 57, ../sass/_left.scss */
#left-bar.resp #menu li.resp-item a div {
  display: none;
}
/* line 62, ../sass/_left.scss */
#left-bar.resp #menu li .pl-heart {
  background: url("../img/icons/heart-white.svg") no-repeat;
  background-size: 79%;
}
/* line 66, ../sass/_left.scss */
#left-bar.resp #menu li .pl-play {
  background: url("../img/icons/note-white.svg") no-repeat;
  background-size: 79%;
}
/* line 71, ../sass/_left.scss */
#left-bar.resp #menu #usr-nav {
  margin: 0;
  display: block;
}
/* line 75, ../sass/_left.scss */
#left-bar.resp #menu .pl-title {
  margin-bottom: 0;
  padding: 8px 17px;
}
/* line 78, ../sass/_left.scss */
#left-bar.resp #menu .pl-title span {
  /* Mes playlists: */
  text-transform: none;
  font-weight: 100;
  font-size: 2.5em;
  color: #FFFFFF;
  line-height: 66px;
  margin: 0;
}
/* line 87, ../sass/_left.scss */
#left-bar.resp #menu .pl-title hr {
  display: none;
}
/* line 92, ../sass/_left.scss */
#left-bar.resp #menu .pl-items li {
  font-size: 1.5em;
  line-height: 39px;
  height: 25px;
  box-shadow: none;
  padding-left: 17px;
}
/* line 98, ../sass/_left.scss */
#left-bar.resp #menu .pl-items li:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}
/* line 101, ../sass/_left.scss */
#left-bar.resp #menu .pl-items li:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}
/* line 104, ../sass/_left.scss */
#left-bar.resp #menu .pl-items li a {
  color: #FFFFFF;
  font-weight: 100;
}
/* line 108, ../sass/_left.scss */
#left-bar.resp #menu .pl-items li .pl-name {
  padding-left: 40px;
}
/* line 114, ../sass/_left.scss */
#left-bar.resp #menu form:before {
  content: "";
  background: url("../img/icons/loupe.svg") center center no-repeat;
  width: 46px;
  height: 45px;
  display: inline-block;
  background-size: 40%;
  position: absolute;
}
/* line 124, ../sass/_left.scss */
#left-bar.resp #menu .input-text {
  width: 100%;
  line-height: 40px;
  background: none;
  border: none;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Roboto";
  padding-left: 35px;
}
/* line 136, ../sass/_left.scss */
#left-bar.resp #menu ::-webkit-input-placeholder {
  color: #FFFFFF;
  padding-left: 5px;
}
/* line 141, ../sass/_left.scss */
#left-bar.resp #menu :-moz-placeholder {
  /* Firefox 18- */
  color: #FFFFFF;
  padding-left: 5px;
}
/* line 146, ../sass/_left.scss */
#left-bar.resp #menu ::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFFFF;
  padding-left: 5px;
}
/* line 151, ../sass/_left.scss */
#left-bar.resp #menu :-ms-input-placeholder {
  color: #FFFFFF;
  padding-left: 5px;
}

/* Animating the height of the navigation when the button is clicked */
/* If JavaScript is disabled, the menu stays open */
/* line 160, ../sass/_left.scss */
#menu {
  background: #FFFFFF;
}
/* line 162, ../sass/_left.scss */
#menu .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
}

/* MENU USER */
/* line 171, ../sass/_left.scss */
#usr-nav {
  margin-bottom: 45px;
}
/* line 174, ../sass/_left.scss */
#usr-nav .usr-items li {
  padding: 15px 0 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 177, ../sass/_left.scss */
#usr-nav .usr-items li .usr-profile {
  background: url("../img/icons/user.svg") no-repeat;
}
/* line 180, ../sass/_left.scss */
#usr-nav .usr-items li .usr-artists {
  background: url("../img/icons/users.svg") no-repeat;
}
/* line 183, ../sass/_left.scss */
#usr-nav .usr-items li .usr-music {
  background: url("../img/icons/note.svg") no-repeat;
}
/* line 186, ../sass/_left.scss */
#usr-nav .usr-items li span {
  display: inline-block;
  padding-left: 10px;
}
/* line 190, ../sass/_left.scss */
#usr-nav .usr-items li.active {
  border-left: 5px solid #EE9E19;
}

/* MENU PLAYLIST */
/* line 199, ../sass/_left.scss */
#pl-nav .pl-title {
  margin-bottom: 28px;
  padding-left: 20px;
}
/* line 202, ../sass/_left.scss */
#pl-nav .pl-title span {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}
/* line 208, ../sass/_left.scss */
#pl-nav .pl-title hr {
  width: 24px;
  border: 2px solid #EE9E19;
  float: left;
}
/* line 215, ../sass/_left.scss */
#pl-nav .pl-items li {
  padding: 7px 20px;
}
/* line 217, ../sass/_left.scss */
#pl-nav .pl-items li a {
  color: #3D3B3A;
}
/* line 220, ../sass/_left.scss */
#pl-nav .pl-items li .pl-heart {
  background: url("../img/icons/heart.svg") no-repeat center center;
  background-size: 80%;
}
/* line 224, ../sass/_left.scss */
#pl-nav .pl-items li .pl-play {
  background: url("../img/icons/beamed-note.svg") no-repeat center center;
}
/* line 227, ../sass/_left.scss */
#pl-nav .pl-items li .pl-name {
  font-weight: 500;
  font-size: 1.2em;
  padding-left: 25px;
  line-height: 20px;
}
/* line 233, ../sass/_left.scss */
#pl-nav .pl-items li:hover .pl-play {
  background: url("../img/icons/triangle-right.svg") no-repeat center center;
  border: 1px solid #EE9E19;
  border-radius: 50%;
  background-size: 39%;
}

/* Styling the toggle menu link and hiding it */
/* line 244, ../sass/_left.scss */
#menutoggle {
  display: none;
  padding: 0.5em 0.5em 0.8em;
  font-family: 'Lato',Calibri,Arial,sans-serif;
  font-weight: normal;
  text-align: left;
  color: #07100f;
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 72px;
  float: right;
}

/* line 260, ../sass/_left.scss */
.navtoogle {
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
/* line 262, ../sass/_left.scss */
.navtoogle .icon-menu {
  z-index: 100;
  position: relative;
  top: 3px;
  line-height: 0;
  font-size: 1.6em;
}
/* line 268, ../sass/_left.scss */
.navtoogle .icon-menu:before {
  content: "";
  background: url("../img/icons/menu-burger.svg") no-repeat center center;
  background-size: 50%;
  width: 40px;
  height: 28px;
  display: inline-block;
}
/* line 278, ../sass/_left.scss */
.navtoogle.active .icon-menu:before {
  content: "";
  background: url("../img/icons/menu-burger-close.svg") no-repeat center center;
  background-size: 50%;
}

@media (max-width: 1024px) {
  /* line 289, ../sass/_left.scss */
  #pl-nav {
    margin-bottom: 73px;
  }

  /* Unhiding the styled menu link */
  /* line 294, ../sass/_left.scss */
  #menutoggle {
    margin: 0;
    display: block;
    outline: none;
  }

  /* When JavaScript is enabled, we hide the menu */
  /* line 300, ../sass/_left.scss */
  #menu {
    height: 0;
    width: 100%;
    overflow: auto;
  }

  /* Displaying the menu when the user has clicked on the button */
  /* line 307, ../sass/_left.scss */
  button.active ~ #menu {
    height: 100%;
    width: 100%;
  }

  /* line 312, ../sass/_left.scss */
  button.navtoogle ~ #menu {
    -moz-transition: height 0.4s ease-in;
    -o-transition: height 0.4s ease-in;
    -webkit-transition: height 0.4s ease-in;
    transition: height 0.4s ease-in;
  }

  /* line 315, ../sass/_left.scss */
  .lg-hidden {
    display: block;
  }
}
/* line 1, ../sass/_right.scss */
#right-bar {
  height: 100%;
  margin: 0;
  width: 260px;
  position: fixed;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  margin-top: 72px;
}

@media (max-width: 720px) {
  /* line 14, ../sass/_right.scss */
  #right-bar {
    display: none;
  }
}
/* line 1, ../sass/_upload.scss */
.upload-container {
  float: right;
  width: 82%;
  background: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
  margin: 0;
  height: 100%;
}

/* line 9, ../sass/_upload.scss */
.upload.inner-container {
  color: #FFFFFF;
  text-align: center;
  padding: 45px;
}
/* line 13, ../sass/_upload.scss */
.upload.inner-container .uploadDescr {
  margin-bottom: 50px;
}
/* line 15, ../sass/_upload.scss */
.upload.inner-container .uploadDescr .uploadTitle {
  font-weight: 100;
  font-size: 4em;
  margin-bottom: 25px;
}
/* line 20, ../sass/_upload.scss */
.upload.inner-container .uploadDescr .uploadConditions {
  font-weight: 300;
  font-size: 2em;
  line-height: 25px;
}
/* line 24, ../sass/_upload.scss */
.upload.inner-container .uploadDescr .uploadConditions a {
  text-decoration: underline;
  display: inline-block;
  color: #FFFFFF;
}
/* line 32, ../sass/_upload.scss */
.upload.inner-container .uploadZone .innerZone {
  width: 427px;
  height: 283px;
  margin: 25px auto;
}
/* line 36, ../sass/_upload.scss */
.upload.inner-container .uploadZone .innerZone.upload1 {
  border: 5px dashed rgba(255, 255, 255, 0.8);
  border-radius: 23px;
  background: url("../img/icons/+.png") no-repeat center center;
}
/* line 42, ../sass/_upload.scss */
.upload.inner-container .uploadZone form {
  position: relative;
  height: 100%;
}
/* line 46, ../sass/_upload.scss */
.upload.inner-container .uploadZone label {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 50px;
}
/* line 53, ../sass/_upload.scss */
.upload.inner-container .uploadZone .files {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.1em;
}
/* line 61, ../sass/_upload.scss */
.upload.inner-container .uploadZone #fileToUpload {
  opacity: 0;
  width: 427px;
  height: 283px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  z-index: 5;
}
/* line 71, ../sass/_upload.scss */
.upload.inner-container .uploadZone p.conditions {
  color: #FFFFFF;
  font-size: 1.3em;
  display: inline-block;
  margin-bottom: 25px;
}
/* line 77, ../sass/_upload.scss */
.upload.inner-container .uploadZone input[type="checkbox"] {
  margin-right: 15px;
}
/* line 81, ../sass/_upload.scss */
.upload.inner-container .uploadFooter {
  font-size: 1.3em;
  color: #FFFFFF;
}
/* line 84, ../sass/_upload.scss */
.upload.inner-container .uploadFooter .ps {
  font-size: 1.5em;
}
/* line 86, ../sass/_upload.scss */
.upload.inner-container .uploadFooter .ps span {
  display: inline-block;
}
/* line 90, ../sass/_upload.scss */
.upload.inner-container .uploadFooter .premium {
  margin: 20px auto;
  color: #FFFFFF;
  width: 151px;
  height: 44px;
  line-height: 44px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 100, ../sass/_upload.scss */
.upload.inner-container .uploadFooter .premium:hover {
  background: #FFFFFF;
  color: #EE9E19;
}

/* line 108, ../sass/_upload.scss */
.upload2 {
  display: none;
}
/* line 110, ../sass/_upload.scss */
.upload2.active {
  display: block;
  height: 283px;
}
/* line 113, ../sass/_upload.scss */
.upload2.active .progress {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 103px auto;
  font-size: 2em;
  color: #EE9E19;
}
/* line 121, ../sass/_upload.scss */
.upload2.active .progress span {
  color: #EE9E19;
  font-size: 2em;
  font-weight: 300;
  line-height: 100px;
}
/* line 128, ../sass/_upload.scss */
.upload2.active span {
  display: inline-block;
  font-weight: 500;
  font-size: 2em;
}
/* line 133, ../sass/_upload.scss */
.upload2.active p {
  font-weight: 300;
  font-style: italic;
  display: inline-block;
  font-size: 2em;
}

/* Upload forms */
/* line 143, ../sass/_upload.scss */
#msform {
  width: 610px;
  height: 292px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  background: #FAFAFA;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}
/* line 151, ../sass/_upload.scss */
#msform .track {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 22px 0 17px 50px;
}
/* line 156, ../sass/_upload.scss */
#msform .track .tr-title {
  font-weight: 100;
  color: #3D3B3A;
  font-size: 2em;
  line-height: 2em;
}
/* line 162, ../sass/_upload.scss */
#msform .track .tr-subtitle {
  font-weight: 300;
  font-style: italic;
  color: #EE9E19;
  font-size: 1.4em;
}

/* line 171, ../sass/_upload.scss */
#msform fieldset {
  padding: 0 50px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  /*stacking fieldsets above each other*/
  position: absolute;
  bottom: 20px;
  -webkit-backface-visibility: hidden;
}
/* line 180, ../sass/_upload.scss */
#msform fieldset p.files {
  font-weight: 300;
  font-size: 1.1em;
  color: #9B9B9B;
  line-height: 15px;
  margin: 0;
  bottom: -12px;
  width: auto;
}
/* line 189, ../sass/_upload.scss */
#msform fieldset .cover {
  display: block;
  width: 112px;
  height: 112px;
  position: absolute;
  background: #D8D8D8;
  top: 30px;
  left: 293px;
}
/* line 198, ../sass/_upload.scss */
#msform fieldset.third {
  bottom: 35px;
}

/*Hide all except first fieldset*/
/* line 203, ../sass/_upload.scss */
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
/* line 207, ../sass/_upload.scss */
#msform input, #msform textarea {
  border: 1px solid #E8E8E8;
  outline: none;
  padding: 15px;
  margin-bottom: 10px;
  width: 96%;
  box-sizing: border-box;
  color: rgba(61, 59, 58, 0.7);
  font-size: 1.2em;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 217, ../sass/_upload.scss */
#msform input.error, #msform textarea.error {
  box-shadow: 0px 0px 7px 0px rgba(255, 104, 104, 0.4);
  border: 1px solid #FF5E5E;
  color: #9B9B9B;
}

/*buttons*/
/* line 224, ../sass/_upload.scss */
#msform .action-button {
  height: 124px;
  width: 32px;
  position: absolute;
  bottom: 51%;
  cursor: pointer;
}
/* line 230, ../sass/_upload.scss */
#msform .action-button.next {
  background: url("../img/icons/arrow-right.png") no-repeat center center;
  right: 13px;
}
/* line 234, ../sass/_upload.scss */
#msform .action-button.submit {
  visibility: hidden;
  opacity: 0;
  height: 292px;
  width: 82px;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0;
  background: #EE9E19 url("../img/icons/valid.png") no-repeat center center;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
/* line 245, ../sass/_upload.scss */
#msform .action-button.submit.active {
  visibility: visible;
  opacity: 1;
}

/* line 252, ../sass/_upload.scss */
#coverToUpload {
  opacity: 0;
  width: 167px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

/* line 261, ../sass/_upload.scss */
.input-cover-trigger {
  width: 167px;
  height: 44px;
  background: #FFFFFF;
  color: #3D3B3A;
  text-transform: uppercase;
  font-size: 1.5em;
  border: 1px solid #BBBBBB;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 0 !important;
  text-align: center;
  line-height: 44px;
  left: 60px !important;
  top: initial !important;
  letter-spacing: 1px;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 279, ../sass/_upload.scss */
.input-cover-trigger:hover {
  border: 1px solid #EE9E19;
}

/* line 283, ../sass/_upload.scss */
p.conditions {
  color: #3D3B3A;
  font-size: 1.3em;
  display: inline-block;
  margin-bottom: 25px;
}

/*headings*/
/* line 290, ../sass/_upload.scss */
.fs-title {
  font-weight: 100;
  font-size: 3em;
  margin-bottom: 23px;
  color: #3D3B3A;
}

/* line 296, ../sass/_upload.scss */
.fs-subtitle {
  font-weight: 300;
  font-size: 1.3em;
  color: #666;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.2);
}

/*progressbar*/
/* line 304, ../sass/_upload.scss */
#progressbar {
  padding-top: 16px;
  width: 35%;
  margin: 14px auto;
}

/* line 309, ../sass/_upload.scss */
#progressbar li {
  list-style-type: none;
  color: #D1D1D1;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 25%;
  float: left;
  position: relative;
  z-index: 2;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
/* line 319, ../sass/_upload.scss */
#progressbar li.active {
  color: #EE9E19;
}
/* line 322, ../sass/_upload.scss */
#progressbar li.error {
  color: #FF5E5E;
}
/* line 324, ../sass/_upload.scss */
#progressbar li.error:before {
  background: #FF5E5E !important;
}

/* line 329, ../sass/_upload.scss */
#progressbar li:before {
  content: "";
  width: 10px;
  height: 10px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: #D1D1D1;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  cursor: pointer;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/*progressbar connectors*/
/* line 344, ../sass/_upload.scss */
#progressbar .timeline {
  width: 26%;
  height: 2px;
  background: #D1D1D1;
  position: absolute;
  left: 37%;
  top: 20px;
  z-index: 0;
}
/* line 352, ../sass/_upload.scss */
#progressbar .timeline .progress {
  height: 2px;
  position: absolute;
  z-index: 1;
  background: #EE9E19;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 358, ../sass/_upload.scss */
#progressbar .timeline .progress.first {
  width: 0%;
}
/* line 361, ../sass/_upload.scss */
#progressbar .timeline .progress.second {
  width: 33.33%;
}
/* line 364, ../sass/_upload.scss */
#progressbar .timeline .progress.third {
  width: 66.66%;
}
/* line 367, ../sass/_upload.scss */
#progressbar .timeline .progress.fourth {
  width: 100%;
}

/* line 372, ../sass/_upload.scss */
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
/* line 378, ../sass/_upload.scss */
#progressbar li.active:before, #progressbar li.active:after {
  background: #EE9E19;
  color: #EE9E19;
}

/* Select option */
/* line 385, ../sass/_upload.scss */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

/* line 390, ../sass/_upload.scss */
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #9B9B9B;
  width: 380px;
  height: 44px;
}

/* line 399, ../sass/_upload.scss */
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 8px 15px;
  color: #D6D6D6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938em;
  line-height: 29px;
  letter-spacing: 2.27px;
  border: 1px solid #E8E8E8;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 415, ../sass/_upload.scss */
.select-styled:after {
  content: "";
  background: url("../img/icons/arrow-genre.svg") no-repeat center center;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 16px;
  right: 10px;
}
/* line 424, ../sass/_upload.scss */
.select-styled:hover {
  color: #EE9E19;
}
/* line 427, ../sass/_upload.scss */
.select-styled:active, .select-styled.active {
  color: #EE9E19;
}
/* line 429, ../sass/_upload.scss */
.select-styled:active:after, .select-styled.active:after {
  top: 16px;
  background: url("../img/icons/arrow-genre-top.svg") no-repeat center center;
}
/* line 434, ../sass/_upload.scss */
.select-styled.error {
  box-shadow: 0px 0px 7px 0px rgba(255, 104, 104, 0.4);
  border: 1px solid #FF5E5E;
}

/* line 440, ../sass/_upload.scss */
.select-options {
  display: none;
  position: absolute;
  height: 195px;
  overflow: auto;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}
/* line 455, ../sass/_upload.scss */
.select-options li {
  margin: 0;
  padding: 6px 0;
  text-indent: 15px;
  background: #FFFFFF;
  font-weight: bold;
  font-size: 0.938em;
  color: #9B9B9B;
  letter-spacing: 2.27px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
/* line 467, ../sass/_upload.scss */
.select-options li:hover {
  color: #EE9E19;
}
/* line 470, ../sass/_upload.scss */
.select-options li[rel="hide"] {
  display: none;
}

/* line 1, ../sass/_playlist.scss */
.fp_thumbContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* line 6, ../sass/_playlist.scss */
.fp_thumbScroller {
  position: relative;
  overflow: hidden;
}
/* line 9, ../sass/_playlist.scss */
.fp_thumbScroller .container {
  position: relative;
  float: left;
}

/* line 15, ../sass/_playlist.scss */
.playlist-container {
  margin: 72px auto 0;
  width: 100%;
  background: #FBF6F2;
  color: #3D3B3A;
}

/* line 22, ../sass/_playlist.scss */
.playlist-content {
  overflow: hidden;
  margin: 0 260px;
}
/* line 25, ../sass/_playlist.scss */
.playlist-content .pub {
  width: 100%;
  height: 260px;
  background: #D8D8D8;
  margin-bottom: 48px;
}
/* line 31, ../sass/_playlist.scss */
.playlist-content .row {
  position: relative;
  margin: 20px;
}
/* line 34, ../sass/_playlist.scss */
.playlist-content .row .hr {
  width: 24px;
  height: 3px;
  background: #EE9E19;
  margin: 10px 0 30px;
}
/* line 40, ../sass/_playlist.scss */
.playlist-content .row .row-title {
  font-weight: 700;
  font-size: 1.3em;
  color: #3D3B3A;
  line-height: 18px;
  text-transform: uppercase;
}
/* line 47, ../sass/_playlist.scss */
.playlist-content .row .playlists, .playlist-content .row .artists {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 30px;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 54, ../sass/_playlist.scss */
.playlist-content .row.active {
  display: block;
}
/* line 58, ../sass/_playlist.scss */
.playlist-content .row-artists {
  height: 340px;
}

/* line 63, ../sass/_playlist.scss */
.carousel {
  overflow: hidden;
}

/* line 68, ../sass/_playlist.scss */
.pl-single {
  position: relative;
  display: inline-block;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 76, ../sass/_playlist.scss */
.pl-single .pl-cover {
  overflow: hidden;
}
/* line 78, ../sass/_playlist.scss */
.pl-single .pl-cover img {
  width: 100%;
  height: auto;
}
/* line 83, ../sass/_playlist.scss */
.pl-single .pl-infos {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 93, ../sass/_playlist.scss */
.pl-single .pl-title {
  font-weight: 300;
  font-size: 1.4em;
  color: #3D3B3A;
  line-height: 19px;
}
/* line 99, ../sass/_playlist.scss */
.pl-single .pl-singer {
  opacity: 0.69;
  font-weight: 300;
  font-size: 1.2em;
  color: #3D3B3A;
  line-height: 16px;
  margin-bottom: 6px;
}
/* line 107, ../sass/_playlist.scss */
.pl-single .pl-artist {
  font-weight: 100;
  color: rgba(61, 58, 58, 0.7);
}
/* line 110, ../sass/_playlist.scss */
.pl-single .pl-artist span {
  display: inline-block;
  font-weight: 500;
  font-size: 1.2em;
  color: #EE9E19;
  line-height: 15px;
}
/* line 117, ../sass/_playlist.scss */
.pl-single .pl-artist:before {
  content: "";
  background: url("../img/icons/pl-arrow.svg") no-repeat center center;
  width: 7px;
  height: 9px;
  display: inline-block;
  margin-right: 6px;
}

/* line 128, ../sass/_playlist.scss */
.at-single {
  display: inline-block;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 135, ../sass/_playlist.scss */
.at-single .pl-single {
  width: 100%;
  padding: 0;
}

/* line 141, ../sass/_playlist.scss */
.at-header {
  position: relative;
}
/* line 143, ../sass/_playlist.scss */
.at-header:before {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 35%;
  z-index: 0;
  background: #FFFFFF;
  border-left: 1px solid #ECECEC;
}
/* line 154, ../sass/_playlist.scss */
.at-header .at-avatar {
  margin-right: 0;
}
/* line 157, ../sass/_playlist.scss */
.at-header .at-name {
  display: inline-block;
  padding-left: 10px;
  width: 66%;
}
/* line 161, ../sass/_playlist.scss */
.at-header .at-name:before {
  content: "";
  width: 68%;
  height: 40%;
  background: #FBF6F2;
  display: block;
  position: absolute;
  top: 35%;
  right: 3px;
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
}
/* line 175, ../sass/_playlist.scss */
.at-header .at-name .at-pseudo {
  font-weight: 300;
  font-size: 1.4em;
  color: #3D3B3A;
  line-height: 16px;
  margin-bottom: 5px;
  position: relative;
  z-index: 3;
}
/* line 184, ../sass/_playlist.scss */
.at-header .at-name .at-cta {
  position: relative;
  z-index: 3;
  border: 1px solid #EE9E19;
  border-radius: 40px;
  font-weight: 700;
  font-size: 1em;
  line-height: 25px;
  width: 75px;
  height: 24px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/* line 198, ../sass/_playlist.scss */
.at-header .at-name .at-cta.follow {
  color: #F5A623;
}
/* line 200, ../sass/_playlist.scss */
.at-header .at-name .at-cta.follow:hover {
  background: #EE9E19;
  color: #FFFFFF;
}
/* line 205, ../sass/_playlist.scss */
.at-header .at-name .at-cta.followed {
  background: #EE9E19;
  color: #FFFFFF;
}
/* line 211, ../sass/_playlist.scss */
.at-header .at-span {
  position: relative;
}
/* line 213, ../sass/_playlist.scss */
.at-header .at-span:before {
  content: "";
  width: 61%;
  height: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #FFFFFF;
  border-right: 1px solid #ECECEC;
  border-top: 1px solid #ECECEC;
  border-top-right-radius: 5px;
}
/* line 226, ../sass/_playlist.scss */
.at-header .at-span span {
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.9em;
  color: #3D3B3A;
  line-height: 11px;
  text-transform: uppercase;
  padding: 5px 13px;
  position: relative;
}

/* line 239, ../sass/_playlist.scss */
.row-slider {
  position: absolute;
  right: 0;
  top: 20px;
}
/* line 243, ../sass/_playlist.scss */
.row-slider li {
  width: 22px;
  height: 25px;
  display: block;
  float: left;
  cursor: pointer;
}
/* line 249, ../sass/_playlist.scss */
.row-slider li.prev {
  background: url("../img/icons/pl-left.png") no-repeat center center;
}
/* line 252, ../sass/_playlist.scss */
.row-slider li.next {
  background: url("../img/icons/pl-right.png") no-repeat center center;
}
/* line 255, ../sass/_playlist.scss */
.row-slider li.desactive {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/* RESPONSIVE */
/* line 264, ../sass/_playlist.scss */
#pl-nav-resp {
  display: none;
  height: 60px;
  margin-bottom: 41px;
}
/* line 268, ../sass/_playlist.scss */
#pl-nav-resp li.item {
  float: left;
  width: 33.3%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(-180deg, #49403b 0%, #2e2722 100%);
  box-shadow: 1px 0px 0px 0px rgba(60, 51, 45, 0.5);
  text-transform: uppercase;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.27);
}
/* line 279, ../sass/_playlist.scss */
#pl-nav-resp li.item a {
  font-weight: 100;
  font-size: 1.2em;
  color: #FFFFFF;
}
/* line 284, ../sass/_playlist.scss */
#pl-nav-resp li.item.active {
  background: linear-gradient(-180deg, #ee9e19 0%, #ee7648 100%);
}
/* line 286, ../sass/_playlist.scss */
#pl-nav-resp li.item.active a {
  font-weight: 500;
  font-size: 1.3em;
}
/* line 292, ../sass/_playlist.scss */
#pl-nav-resp.resp {
  display: block;
}

@media (max-width: 640px) {
  /* line 297, ../sass/_playlist.scss */
  .playlist-content .row {
    height: 100%;
    width: 96%;
    margin: 0 17px;
    display: none;
  }
  /* line 302, ../sass/_playlist.scss */
  .playlist-content .row .pl-single {
    width: 33.33%;
    float: left;
    margin-right: 0;
    margin-bottom: 18px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 18px;
  }
  /* line 310, ../sass/_playlist.scss */
  .playlist-content .row .pl-single .pl-infos {
    background: #F2F2F2;
    -moz-box-shadow: 0px 1px 2px 0px #cfcfcf;
    -webkit-box-shadow: 0px 1px 2px 0px #cfcfcf;
    -o-box-shadow: 0px 1px 2px 0px #cfcfcf;
    box-shadow: 0px 1px 2px 0px #cfcfcf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /* line 319, ../sass/_playlist.scss */
  .playlist-content .row .pl-single .pl-cover {
    -moz-box-shadow: 0px 1px 2px 0px #cfcfcf;
    -webkit-box-shadow: 0px 1px 2px 0px #cfcfcf;
    -o-box-shadow: 0px 1px 2px 0px #cfcfcf;
    box-shadow: 0px 1px 2px 0px #cfcfcf;
  }

  /* line 327, ../sass/_playlist.scss */
  .playlist-content .playlists {
    white-space: normal !important;
    margin: 0 auto;
    overflow: hidden !important;
    list-style: none;
    padding: 0 !important;
  }
}
@media (max-width: 540px) {
  /* line 336, ../sass/_playlist.scss */
  .playlist-content .row {
    display: none;
  }
  /* line 338, ../sass/_playlist.scss */
  .playlist-content .row .pl-single {
    width: 50%;
  }
}
